Repository barbaradenney/USWDS-webcomponents: changes, and which Codecov flags are due for each by the changed paths.
All: unit, actions, forms, navigation, feedback, data-display, Actions Package, Forms Package, Navigation Package, Feedback Package, Data Display Package

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks that will appear on PRs
  status:
    project:
      default:
        target: 80%          # Overall project coverage target
        threshold: 2%        # Allow 2% drop without failing
        if_ci_failed: error  # Fail if CI fails

    patch:
      default:
        target: 80%          # New code coverage target
        threshold: 5%        # Allow 5% variance for new code
        if_ci_failed: error

# Comment configuration on PRs
comment:
  layout: "header, diff, changes, tree, footer"
  behavior: default
  require_changes: false   # Always comment, even if no changes
  require_base: false      # Comment on first PR
  require_head: true

# GitHub integration
github_checks:
  annotations: true        # Add inline code annotations

# Ignore paths (documentation, configs, etc.)
ignore:
  - "**/*.test.ts"
  - "**/*.stories.ts"
  - "**/*.config.ts"
  - "**/index.ts"
  - "**/*.d.ts"
  - "__tests__/**"
  - "__mocks__/**"
  - "scripts/**"
  - "docs/**"
  - ".github/**"
  - ".husky/**"
  - ".storybook/**"
  - "cypress/**"
  - "tests/**"
  - "*.md"

# Flags to track coverage for different areas
flags:
  # Unit tests coverage
  unit:
    paths:
      - packages/**/src/**/*.ts
    carryforward: true

  # Component coverage by category
  actions:
    paths:
      - packages/uswds-wc-actions/
    carryforward: true

  forms:
    paths:
      - packages/uswds-wc-forms/
    carryforward: true

  navigation:
    paths:
      - packages/uswds-wc-navigation/
    carryforward: true

  feedback:
    paths:
      - packages/uswds-wc-feedback/
    carryforward: true

  data-display:
    paths:
      - packages/uswds-wc-data-display/
    carryforward: true

# Component detection
component_management:
  individual_components:
    - component_id: actions
      name: Actions Package
      paths:
        - packages/uswds-wc-actions/**
    - component_id: forms
      name: Forms Package
      paths:
        - packages/uswds-wc-forms/**
    - component_id: navigation
      name: Navigation Package
      paths:
        - packages/uswds-wc-navigation/**
    - component_id: feedback
      name: Feedback Package
      paths:
        - packages/uswds-wc-feedback/**
    - component_id: data-display
      name: Data Display Package
      paths:
        - packages/uswds-wc-data-display/**

# Notification settings
slack_app: false

docs: update pattern counts and add visual test commands to TESTING_GUIDE
  docs/PATTERN_VALIDATION_AND_VISUAL_TESTING_ENHANCEMENTS.md
  docs/PRE_COMMIT_VISUAL_REGRESSION_INTEGRATION.md
  docs/TESTING_GUIDE.md
Due: none

docs(patterns): add validateLanguageSelection method to language-selection README
  packages/uswds-wc-patterns/src/patterns/language-selection/README.mdx
Due: none

fix(patterns): correct event handling in contact-preferences pattern
  packages/uswds-wc-patterns/src/patterns/contact-preferences/usa-contact-preferences-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/contact-preferences/usa-contact-preferences-pattern.ts
Due: unit

fix(patterns): add label property to race-ethnicity and fix email test
  packages/uswds-wc-patterns/src/patterns/email-address/usa-email-address-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/email-address/usa-email-address-pattern.ts
  packages/uswds-wc-patterns/src/patterns/race-ethnicity/usa-race-ethnicity-pattern.ts
Due: unit

style: fix Prettier formatting for pattern test utilities
  packages/uswds-wc-patterns/src/test-utils/pattern-compliance-tests.ts
  packages/uswds-wc-test-utils/src/slot-testing-utils.js
Due: unit

fix(tests): resolve flaky pattern tests
  packages/uswds-wc-patterns/src/patterns/form-summary/usa-form-summary-pattern.test.ts
Due: none

fix(tests): improve test utilities and fix compact mode validation
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
  packages/uswds-wc-test-utils/src/slot-testing-utils.js
Due: none

docs(storybook): move documentation pages to top level
  .storybook/About.mdx
  .storybook/BundleOptimization.mdx
  .storybook/CICDPipeline.mdx
  .storybook/ComponentGenerator.mdx
  .storybook/PostCommitSystem.mdx
  .storybook/PreCommitSystem.mdx
  .storybook/PrePushSystem.mdx
  .storybook/USWDSCompliance.mdx
  .storybook/USWDSSync.mdx
  .storybook/WeeklyAutomation.mdx
  .storybook/WorkingWithClaude.mdx
Due: none

fix(storybook): remove slash from CI-CD Pipeline title
  .storybook/CICDPipeline.mdx
Due: none

chore: update regression validation timestamp
  test-reports/regression-validation.json
Due: none

fix(tests): improve pattern test reliability and compact mode validation (#43)
  .storybook/About.mdx
  .storybook/BundleOptimization.mdx
  .storybook/CICDPipeline.mdx
  .storybook/ComponentGenerator.mdx
  .storybook/PostCommitSystem.mdx
  .storybook/PreCommitSystem.mdx
  .storybook/PrePushSystem.mdx
  .storybook/USWDSCompliance.mdx
  .storybook/USWDSSync.mdx
  .storybook/WeeklyAutomation.mdx
  .storybook/WorkingWithClaude.mdx
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
  packages/uswds-wc-test-utils/src/slot-testing-utils.js
  test-reports/regression-validation.json
Due: none

chore: bump version to 2.3.0
  package.json
Due: none

chore: bump all package versions to 2.3.0 for npm release
  packages/uswds-wc-actions/package.json
  packages/uswds-wc-core/package.json
  packages/uswds-wc-data-display/package.json
  packages/uswds-wc-feedback/package.json
  packages/uswds-wc-forms/package.json
  packages/uswds-wc-layout/package.json
  packages/uswds-wc-navigation/package.json
  packages/uswds-wc-patterns/package.json
  packages/uswds-wc-structure/package.json
  packages/uswds-wc-test-utils/package.json
  packages/uswds-wc/package.json
Due: actions, forms, navigation, feedback, data-display, Actions Package, Forms Package, Navigation Package, Feedback Package, Data Display Package

fix(build): restore missing turbo.json configuration
  turbo.json
Due: none

fix(patterns): fix localStorage test failures in language-selector pattern
  packages/uswds-wc-patterns/src/patterns/language-selection/usa-language-selector-pattern.test.ts
Due: none

fix(test): fix localStorage mock to actually store values
  packages/uswds-wc-patterns/vitest.config.ts
  vitest.setup.ts
Due: none

fix(test): add waitForButton helper and increase wait times for multi-step-form tests
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
Due: none

feat(test): add clarified test reporter to distinguish skipped tests from other packages
  packages/uswds-wc-patterns/vitest.config.ts
  scripts/test/vitest-clarified-reporter.js
  vitest.config.ts
Due: none

fix(validation): allow scoped package links and disable broken commitlint hook
  .husky/commit-msg
  scripts/validate/validate-documentation-sync.cjs
Due: none

fix(ci): convert all GitHub Actions workflows from npm to pnpm
  .github/workflows/auto-maintenance.yml
  .github/workflows/bundle-size.yml
  .github/workflows/component-interaction-testing.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/docs-maintenance.yml
  .github/workflows/docs-regeneration.yml
  .github/workflows/early-detection.yml
  .github/workflows/over-engineering-detection.yml
  .github/workflows/performance-regression.yml
  .github/workflows/pr-automation.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/scripts-maintenance.yml
  .github/workflows/security.yml
  .github/workflows/storybook-uswds-integration.yml
  .github/workflows/testing-health-check.yml
  .github/workflows/uswds-compliance.yml
  .github/workflows/uswds-transformation.yml
  .github/workflows/uswds-update-check.yml
  .github/workflows/visual-regression.yml
  .github/workflows/visual-testing.yml
  .github/workflows/weekly-intensive-testing.yml
  scripts/maintenance/fix-github-workflows.py
Due: none

style: fix prettier formatting issues
  .claude/settings.local.json
  packages/uswds-wc-actions/src/components/search/usa-search.test.ts
  packages/uswds-wc-forms/src/components/checkbox/usa-checkbox.ts
  packages/uswds-wc-forms/src/components/select/usa-select.ts
  packages/uswds-wc-forms/src/components/textarea/usa-textarea.ts
  packages/uswds-wc-patterns/src/all-patterns-compliance.test.ts
  packages/uswds-wc-patterns/src/patterns/__tests__/pattern-contracts.test.ts
  packages/uswds-wc-patterns/src/patterns/address/usa-address-pattern-uswds-compliance.test.ts
  packages/uswds-wc-patterns/src/patterns/address/usa-address-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/address/usa-address-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/contact-preferences/index.ts
  packages/uswds-wc-patterns/src/patterns/contact-preferences/usa-contact-preferences-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/contact-preferences/usa-contact-preferences-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/contact-preferences/usa-contact-preferences-pattern.ts
  packages/uswds-wc-patterns/src/patterns/date-of-birth/usa-date-of-birth-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/date-of-birth/usa-date-of-birth-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/date-of-birth/usa-date-of-birth-pattern.ts
  packages/uswds-wc-patterns/src/patterns/email-address/usa-email-address-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/email-address/usa-email-address-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/form-summary/usa-form-summary-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/form-summary/usa-form-summary-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/language-selection/usa-language-selector-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/language-selection/usa-language-selector-pattern.ts
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.ts
  packages/uswds-wc-patterns/src/patterns/name/usa-name-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/name/usa-name-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/name/usa-name-pattern.ts
  packages/uswds-wc-patterns/src/patterns/phone-number/usa-phone-number-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/phone-number/usa-phone-number-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/race-ethnicity/usa-race-ethnicity-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/race-ethnicity/usa-race-ethnicity-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/race-ethnicity/usa-race-ethnicity-pattern.ts
  packages/uswds-wc-patterns/src/patterns/sex/usa-sex-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/sex/usa-sex-pattern.ts
  packages/uswds-wc-patterns/src/patterns/ssn/usa-ssn-pattern.stories.ts
  packages/uswds-wc-patterns/src/patterns/ssn/usa-ssn-pattern.ts
  test-reports/regression-validation.json
Due: unit, forms, Forms Package

fix(patterns): fix SSN pattern field name and formatting
  packages/uswds-wc-patterns/src/patterns/ssn/usa-ssn-pattern.ts
Due: unit

fix(test): update SSN test selectors and Playwright story path
  packages/uswds-wc-patterns/src/patterns/ssn/usa-ssn-pattern.test.ts
  test-reports/regression-validation.json
  tests/playwright/header-deep.spec.ts
Due: none

fix(patterns): improve multi-step-form test reliability with async goToStep
  .claude/settings.local.json
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.ts
  test-reports/regression-validation.json
Due: unit

fix(patterns): fix Light DOM button text updates in multi-step-form pattern
  .claude/settings.local.json
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.ts
Due: unit

chore(multi-step-form): add eslint-disable for intentional setTimeout
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.ts
Due: unit

fix(patterns): remove unused variables to fix linting errors
  packages/uswds-wc-patterns/src/all-patterns-compliance.test.ts
  packages/uswds-wc-patterns/src/patterns/address/usa-address-pattern-uswds-compliance.test.ts
  packages/uswds-wc-patterns/src/patterns/contact-preferences/usa-contact-preferences-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/form-summary/usa-form-summary-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/name/usa-name-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/race-ethnicity/usa-race-ethnicity-pattern.test.ts
Due: none

fix(imports): correct package import paths to use main entry points
  .claude/settings.local.json
  packages/uswds-wc-actions/src/components/link/usa-link.stories.ts
  packages/uswds-wc-actions/src/components/search/usa-search.ts
  packages/uswds-wc-forms/src/components/input-prefix-suffix/usa-input-prefix-suffix.ts
  packages/uswds-wc-navigation/src/components/footer/usa-footer.stories.ts
  packages/uswds-wc-navigation/src/components/header/usa-header.ts
  packages/uswds-wc-patterns/src/patterns/language-selection/usa-language-selector-pattern.ts
  scripts/validate/validate-component-composition.js
  test-reports/regression-validation.json
Due: unit, actions, forms, navigation, Actions Package, Forms Package, Navigation Package

fix(ci): add missing pnpm setup in GitHub Actions workflows
  .github/workflows/comprehensive-testing.yml
  .github/workflows/uswds-transformation.yml
  scripts/fix-pnpm-workflows.py
  turbo.json
Due: none

fix(ci): update pnpm version from 8 to 10 in CI workflows
  .github/workflows/comprehensive-testing.yml
  .github/workflows/uswds-transformation.yml
  scripts/update-pnpm-version.py
Due: none

fix(ci): restore missing turbo.json configuration file
  turbo.json
Due: none

fix(ci): standardize pnpm configuration across all workflows
  .github/workflows/auto-maintenance.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .github/workflows/component-interaction-testing.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/docs-maintenance.yml
  .github/workflows/docs-regeneration.yml
  .github/workflows/early-detection.yml
  .github/workflows/over-engineering-detection.yml
  .github/workflows/performance-regression.yml
  .github/workflows/pr-automation.yml
  .github/workflows/quality-checks.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/scripts-maintenance.yml
  .github/workflows/security.yml
  .github/workflows/storybook-uswds-integration.yml
  .github/workflows/testing-health-check.yml
  .github/workflows/uswds-compliance.yml
  .github/workflows/uswds-update-check.yml
  .github/workflows/visual-regression.yml
  .github/workflows/visual-testing.yml
  .github/workflows/weekly-intensive-testing.yml
  scripts/fix-all-pnpm-workflows.py
Due: none

fix(ci): fix code formatting and simplify test execution
  .github/workflows/ci.yml
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/multi-step-form/usa-multi-step-form-pattern.ts
  packages/uswds-wc-patterns/src/patterns/race-ethnicity/usa-race-ethnicity-pattern.test.ts
  packages/uswds-wc-patterns/src/patterns/ssn/usa-ssn-pattern.test.ts
  test-reports/regression-validation.json
Due: unit

fix(data-display): increase performance test threshold for CI environment
  packages/uswds-wc-data-display/src/components/table/usa-table.test.ts
Due: none

fix(ci): simplify test parsing logic in quality-checks workflow
  .github/workflows/quality-checks.yml
Due: none

fix(ci): fix YAML syntax error and add missing pnpm setup in visual-testing workflow
  .github/workflows/visual-testing.yml
Due: none

fix(layout): increase timeout for identifier accessibility test in CI
  packages/uswds-wc-layout/src/components/identifier/usa-identifier.test.ts
Due: none

style(layout): apply prettier formatting to identifier test file
  packages/uswds-wc-layout/src/components/identifier/usa-identifier.test.ts
Due: none

fix(navigation): add missing data-display dependency and vitest setup
  packages/uswds-wc-navigation/package.json
  packages/uswds-wc-navigation/vitest.config.ts
  pnpm-lock.yaml
Due: navigation, Navigation Package
