Repository barbaradenney/USWDS-webcomponents: changes, and which Codecov flags are due for each by the changed paths.
All: unit, actions, forms, navigation, feedback, data-display, Actions Package, Forms Package, Navigation Package, Feedback Package, Data Display Package

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks that will appear on PRs
  status:
    project:
      default:
        target: 80%          # Overall project coverage target
        threshold: 2%        # Allow 2% drop without failing
        if_ci_failed: error  # Fail if CI fails

    patch:
      default:
        target: 80%          # New code coverage target
        threshold: 5%        # Allow 5% variance for new code
        if_ci_failed: error

# Comment configuration on PRs
comment:
  layout: "header, diff, changes, tree, footer"
  behavior: default
  require_changes: false   # Always comment, even if no changes
  require_base: false      # Comment on first PR
  require_head: true

# GitHub integration
github_checks:
  annotations: true        # Add inline code annotations

# Ignore paths (documentation, configs, etc.)
ignore:
  - "**/*.test.ts"
  - "**/*.stories.ts"
  - "**/*.config.ts"
  - "**/index.ts"
  - "**/*.d.ts"
  - "__tests__/**"
  - "__mocks__/**"
  - "scripts/**"
  - "docs/**"
  - ".github/**"
  - ".husky/**"
  - ".storybook/**"
  - "cypress/**"
  - "tests/**"
  - "*.md"

# Flags to track coverage for different areas
flags:
  # Unit tests coverage
  unit:
    paths:
      - packages/**/src/**/*.ts
    carryforward: true

  # Component coverage by category
  actions:
    paths:
      - packages/uswds-wc-actions/
    carryforward: true

  forms:
    paths:
      - packages/uswds-wc-forms/
    carryforward: true

  navigation:
    paths:
      - packages/uswds-wc-navigation/
    carryforward: true

  feedback:
    paths:
      - packages/uswds-wc-feedback/
    carryforward: true

  data-display:
    paths:
      - packages/uswds-wc-data-display/
    carryforward: true

# Component detection
component_management:
  individual_components:
    - component_id: actions
      name: Actions Package
      paths:
        - packages/uswds-wc-actions/**
    - component_id: forms
      name: Forms Package
      paths:
        - packages/uswds-wc-forms/**
    - component_id: navigation
      name: Navigation Package
      paths:
        - packages/uswds-wc-navigation/**
    - component_id: feedback
      name: Feedback Package
      paths:
        - packages/uswds-wc-feedback/**
    - component_id: data-display
      name: Data Display Package
      paths:
        - packages/uswds-wc-data-display/**

# Notification settings
slack_app: false

fix(tests): resolve test suite failures
  packages/uswds-wc-forms/src/components/character-count/usa-character-count-behavior-03-validation.test.ts
  packages/uswds-wc-forms/src/components/date-range-picker/usa-date-range-picker.ts
Due: unit, forms, Forms Package

fix(tests): move modal integration tests to Cypress
  cypress/e2e/modal-variants.cy.ts
  packages/uswds-wc-feedback/src/components/modal/usa-modal.test.ts
Due: none

fix(tests): improve test isolation and fix flaky tests
  packages/uswds-wc-forms/src/components/date-range-picker/date-range-picker-interaction.test.ts
  packages/uswds-wc-forms/src/components/file-input/usa-file-input-behavior.test.ts
  vitest.setup.ts
Due: none

fix(tests): prevent Lit ChildPart corruption in select form tests
  packages/uswds-wc-forms/src/components/select/usa-select.test.ts
Due: none

test: skip broken and environment-limited tests
  packages/uswds-wc-forms/src/components/select/usa-select.test.ts
  packages/uswds-wc-navigation/src/components/in-page-navigation/in-page-navigation-interaction.test.ts
Due: none

test: fix accordion test failures
  packages/uswds-wc-structure/src/components/accordion/accordion-interaction.test.ts
  packages/uswds-wc-structure/src/components/accordion/usa-accordion.test.ts
Due: none

test: move ARIA attribute test to Cypress for 100% Vitest pass rate
  packages/uswds-wc-navigation/src/components/language-selector/usa-language-selector.component.cy.ts
  packages/uswds-wc-navigation/src/components/language-selector/usa-language-selector.regression.test.ts
Due: unit, navigation, Navigation Package

fix(in-page-nav): guard window.location access for jsdom
  packages/uswds-wc-navigation/src/components/in-page-navigation/usa-in-page-navigation-behavior.ts
  packages/uswds-wc-test-utils/package.json
Due: unit, navigation, Navigation Package

docs: update changelog for v2.2.0 release
  CHANGELOG.md
Due: none

fix(tests): eliminate all 6 unhandled rejections in test suite
  packages/uswds-wc-data-display/src/components/list/usa-list.test.ts
  packages/uswds-wc-forms/src/components/combo-box/combo-box-uswds-validation.test.ts
  packages/uswds-wc-forms/src/components/date-picker/date-picker-uswds-validation.test.ts
Due: none

fix(tests): complete elimination of usa-list unhandled rejections
  packages/uswds-wc-data-display/src/components/list/usa-list.component.cy.ts
  packages/uswds-wc-data-display/src/components/list/usa-list.test.ts
Due: unit, data-display, Data Display Package

fix(ci): handle skipped job states in Smart CI workflow
  .github/workflows/smart-ci.yml
Due: none

fix(validation): recognize loadUSWDSModule pattern in compliance checks
  packages/uswds-wc-forms/src/components/date-range-picker/usa-date-range-picker.ts
  scripts/validate/compliance-checker.js
  scripts/validate/validate-all-components-compliance.js
Due: unit, forms, Forms Package

fix(tests): eliminate 4 unhandled rejections in test cleanup
  packages/uswds-wc-forms/src/components/combo-box/usa-combo-box.test.ts
  packages/uswds-wc-forms/src/components/date-picker/usa-date-picker.test.ts
Due: none

docs(ci): add automated git workflow validation and enforcement
  .commitlintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/commit-msg
  .husky/pre-push
  CONTRIBUTING.md
  docs/BRANCH_PROTECTION_SETUP.md
  docs/GIT_WORKFLOW.md
  docs/GIT_WORKFLOW_VALIDATION.md
  package.json
  pnpm-lock.yaml
  scripts/setup/configure-branch-protection.sh
  test-reports/regression-validation.json
Due: none

docs(ci): add automated git workflow validation and enforcement (#6)
  .commitlintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/commit-msg
  .husky/pre-push
  CONTRIBUTING.md
  docs/BRANCH_PROTECTION_SETUP.md
  docs/GIT_WORKFLOW.md
  docs/GIT_WORKFLOW_VALIDATION.md
  package.json
  pnpm-lock.yaml
  scripts/setup/configure-branch-protection.sh
  test-reports/regression-validation.json
Due: none

fix(ci): correct JSON formatting in branch protection script
  scripts/setup/configure-branch-protection.sh
Due: none

fix(ci): correct JSON formatting in branch protection script (#7)
  scripts/setup/configure-branch-protection.sh
Due: none

docs(ci): update branch protection script to reflect solo developer configuration
  scripts/setup/configure-branch-protection.sh
Due: none

docs(ci): update branch protection script to reflect solo developer configuration (#9)
  scripts/setup/configure-branch-protection.sh
Due: none

test: remove skipped tests that were moved to Cypress
  packages/uswds-wc-data-display/src/components/list/usa-list.test.ts
  packages/uswds-wc-feedback/src/components/modal/usa-modal.test.ts
  packages/uswds-wc-feedback/src/components/tooltip/tooltip-dom-validation.test.ts
  packages/uswds-wc-forms/src/components/select/usa-select.test.ts
  packages/uswds-wc-navigation/src/components/in-page-navigation/in-page-navigation-interaction.test.ts
  packages/uswds-wc-navigation/src/components/language-selector/usa-language-selector.regression.test.ts
  test-reports/regression-validation.json
Due: none

fix(monorepo): complete Phase 5 testing infrastructure - add workspace import aliases
  packages/vitest.config.base.ts
Due: none

test: remove skipped tests that were moved to Cypress (#10)
  packages/uswds-wc-data-display/src/components/list/usa-list.test.ts
  packages/uswds-wc-feedback/src/components/modal/usa-modal.test.ts
  packages/uswds-wc-feedback/src/components/tooltip/tooltip-dom-validation.test.ts
  packages/uswds-wc-forms/src/components/select/usa-select.test.ts
  packages/uswds-wc-navigation/src/components/in-page-navigation/in-page-navigation-interaction.test.ts
  packages/uswds-wc-navigation/src/components/language-selector/usa-language-selector.regression.test.ts
  test-reports/regression-validation.json
Due: none

feat(monorepo): activate Phase 6 CI/CD workflows and hooks
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-storybook.yml.pre-monorepo
  .github/workflows/quality-checks.yml
  .github/workflows/quality-checks.yml.pre-monorepo
  .github/workflows/release.yml
  .github/workflows/release.yml.monorepo
  .github/workflows/release.yml.pre-monorepo
  .husky/pre-commit
  .husky/pre-commit.pre-monorepo
  docs/MONOREPO_STATUS.md
  package.json
Due: none

fix(date-range-picker): correct initialization method name after merge
  packages/uswds-wc-forms/src/components/date-range-picker/usa-date-range-picker.ts
Due: unit, forms, Forms Package

Complete Phase 5: Fix monorepo testing infrastructure - add workspace import aliases (#11)
  .commitlintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/commit-msg
  .husky/pre-push
  cypress/e2e/modal-variants.cy.ts
  docs/BRANCH_PROTECTION_SETUP.md
  docs/GIT_WORKFLOW.md
  docs/GIT_WORKFLOW_VALIDATION.md
  package.json
  packages/uswds-wc-data-display/src/components/list/usa-list.component.cy.ts
  packages/uswds-wc-data-display/src/components/list/usa-list.test.ts
  packages/uswds-wc-feedback/src/components/modal/usa-modal.test.ts
  packages/uswds-wc-forms/src/components/character-count/usa-character-count-behavior-03-validation.test.ts
  packages/uswds-wc-forms/src/components/combo-box/combo-box-uswds-validation.test.ts
  packages/uswds-wc-forms/src/components/combo-box/usa-combo-box.test.ts
  packages/uswds-wc-forms/src/components/date-picker/date-picker-uswds-validation.test.ts
  packages/uswds-wc-forms/src/components/date-picker/usa-date-picker.test.ts
  packages/uswds-wc-forms/src/components/date-range-picker/date-range-picker-interaction.test.ts
  packages/uswds-wc-forms/src/components/date-range-picker/usa-date-range-picker.ts
  packages/uswds-wc-forms/src/components/file-input/usa-file-input-behavior.test.ts
  packages/uswds-wc-forms/src/components/select/usa-select.test.ts
  packages/uswds-wc-navigation/src/components/in-page-navigation/in-page-navigation-interaction.test.ts
  packages/uswds-wc-navigation/src/components/in-page-navigation/usa-in-page-navigation-behavior.ts
  packages/uswds-wc-navigation/src/components/language-selector/usa-language-selector.component.cy.ts
  packages/uswds-wc-navigation/src/components/language-selector/usa-language-selector.regression.test.ts
  packages/uswds-wc-structure/src/components/accordion/accordion-interaction.test.ts
  packages/uswds-wc-structure/src/components/accordion/usa-accordion.test.ts
  packages/vitest.config.base.ts
  pnpm-lock.yaml
  scripts/setup/configure-branch-protection.sh
  scripts/validate/compliance-checker.js
  scripts/validate/validate-all-components-compliance.js
  vitest.setup.ts
Due: unit, forms, navigation, data-display, Forms Package, Navigation Package, Data Display Package

feat(monorepo): activate Phase 6 CI/CD workflows and hooks (#12)
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-storybook.yml.pre-monorepo
  .github/workflows/quality-checks.yml
  .github/workflows/quality-checks.yml.pre-monorepo
  .github/workflows/release.yml
  .github/workflows/release.yml.monorepo
  .github/workflows/release.yml.pre-monorepo
  .husky/pre-commit
  .husky/pre-commit.pre-monorepo
  docs/MONOREPO_STATUS.md
  package.json
Due: none

fix(tests): update accordion test paths for monorepo structure
  packages/uswds-wc-structure/src/components/accordion/usa-accordion.test.ts
Due: none

chore(monorepo): implement monorepo infrastructure and build optimizations
  .github/workflows/backups/deploy-storybook.yml.v1
  .github/workflows/backups/quality-checks.yml.v1
  .github/workflows/backups/release.yml.v1
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .vscode/settings.json
  README.md
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  test-reports/regression-validation.json
Due: none

fix(monorepo): fix TypeScript configuration and build errors
  MONOREPO_MIGRATION_STATUS.md
  packages/uswds-wc-actions/src/components/search/usa-search.ts.value-fix
  packages/uswds-wc-actions/tsconfig.json
  packages/uswds-wc-core/tsconfig.json
  packages/uswds-wc-data-display/tsconfig.json
  packages/uswds-wc-feedback/tsconfig.json
  packages/uswds-wc-forms/src/components/character-count/usa-character-count.ts.value-fix
  packages/uswds-wc-forms/src/components/combo-box/usa-combo-box.ts.value-fix
  packages/uswds-wc-forms/src/components/date-range-picker/usa-date-range-picker.ts
  packages/uswds-wc-forms/tsconfig.json
  packages/uswds-wc-layout/tsconfig.json
  packages/uswds-wc-navigation/src/components/header/usa-header.component.cy.ts-e
  packages/uswds-wc-navigation/src/components/header/usa-header.test.ts-e
  packages/uswds-wc-navigation/tsconfig.json
  packages/uswds-wc-structure/tsconfig.json
  packages/uswds-wc-test-utils/package.json
  packages/uswds-wc/tsconfig.json
Due: unit, actions, forms, navigation, feedback, data-display, Actions Package, Forms Package, Navigation Package, Feedback Package, Data Display Package

fix(monorepo): configure testing infrastructure for monorepo
  package.json
  packages/components/package.json
  packages/uswds-wc-core/vitest.config.ts
  pnpm-lock.yaml
Due: none

fix(ci): update CI workflow for monorepo structure
  .github/workflows/ci.yml
Due: none

docs: add comprehensive monorepo migration completion summary
  MONOREPO_MIGRATION_COMPLETE.md
Due: none

fix(test): add module resolution to all package vitest configs
  packages/uswds-wc-actions/vitest.config.ts
  packages/uswds-wc-core/vitest.config.ts
  packages/uswds-wc-data-display/vitest.config.ts
  packages/uswds-wc-feedback/vitest.config.ts
  packages/uswds-wc-forms/vitest.config.ts
  packages/uswds-wc-layout/vitest.config.ts
  packages/uswds-wc-navigation/vitest.config.ts
  packages/uswds-wc-structure/vitest.config.ts
Due: none

fix(hooks): update pre-commit paths for monorepo structure
  .husky/pre-commit
  docs/MONOREPO_MIGRATION_COMPLETE.md
  docs/MONOREPO_MIGRATION_STATUS.md
  package.json
Due: none

docs: add Turborepo remote cache setup guide
  .env.example
  README.md
  docs/TURBOREPO_REMOTE_CACHE_SETUP.md
Due: none

feat(testing): add vitest and jsdom to all component packages
  __mocks__/styleMock.js
  packages/uswds-wc-actions/package.json
  packages/uswds-wc-core/package.json
  packages/uswds-wc-data-display/package.json
  packages/uswds-wc-feedback/package.json
  packages/uswds-wc-forms/package.json
  packages/uswds-wc-layout/package.json
  packages/uswds-wc-navigation/package.json
  packages/uswds-wc-structure/package.json
  pnpm-lock.yaml
Due: actions, forms, navigation, feedback, data-display, Actions Package, Forms Package, Navigation Package, Feedback Package, Data Display Package

docs: add monorepo optional steps completion summary
  docs/MONOREPO_OPTIONAL_STEPS_COMPLETE.md
Due: none

wip(tests): add CSS stub plugin to handle CSS imports in tests
  packages/uswds-wc-actions/vitest.config.ts
  packages/uswds-wc-data-display/vitest.config.ts
  packages/uswds-wc-feedback/vitest.config.ts
  packages/uswds-wc-forms/vitest.config.ts
  packages/uswds-wc-layout/vitest.config.ts
  packages/uswds-wc-navigation/vitest.config.ts
  packages/uswds-wc-structure/vitest.config.ts
Due: none

fix(tests): resolve CSS import issues by installing cssnano
  docs/CSS_RESOLUTION_IN_TESTS_ISSUE.md
  package.json
  pnpm-lock.yaml
Due: none
